{% include "header.html" %}
{% include "navigation.html" %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Beranda
      <small>Panel Kendali</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ url_for('home') }}"><i class="fa fa-home"></i> Beranda</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>40</h3>
            <p>Pasien</p>
          </div>
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <a href="" class="small-box-footer">Info Lengkap <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>20</h3>

            <p>Dokter</p>
          </div>
          <div class="icon">
            <i class="fa fa-user-md"></i>
          </div>
          <a href="" class="small-box-footer">Info Lengkap <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>120</h3>

            <p>Gejala</p>
          </div>
          <div class="icon">
            <i class="fa fa-copy"></i>
          </div>
          <a href="" class="small-box-footer">Info Lengkap <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>
{% include "footer.html" %}