{% include "header.html" %}
{% include "navigation.html" %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Beranda
      <small>Panel Kendali</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ url_for('home') }}"><i class="fa fa-home"></i> Beranda</a></li>
    </ol>
  </section>
  <section class="content">
    {% if session['login_as'] == 'admin': %}
    <div class="row">
      <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{count_pasien}}</h3>
            <p>Pasien</p>
          </div>
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <a href="{{ url_for('pasien') }}" class="small-box-footer">Info Lengkap <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{count_dokter}}</h3>

            <p>Dokter</p>
          </div>
          <div class="icon">
            <i class="fa fa-user-md"></i>
          </div>
          <a href="{{ url_for('dokter') }}" class="small-box-footer">Info Lengkap <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if session['login_as'] == 'dokter': %}
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <H1>Hallo Selamat Datang di Website Alzheimer!
            <br>
            <br>
            Website ini dapat membantu dokter umum dalam mendeteksi dini penyakit
            alzheimer pada orang tua</H1>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
</div>
{% include "footer.html" %}